* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html, body {
    height : 100%;
    width : 100%;
    
}

body{
    background-color:#202020;
    color:#ffffff;
}

canvas{
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}